# /etc/postfix/transport
# run  "postmap  /etc/postfix/transport"  after each edit
# example.com    PERMIT/REJECT

{% for transport in transport_list %}
{{ transport.domain }}  smtp:{{ transport.server }}:{{ transport.port }}
{% endfor %}
