[Interface]
Address = {{ vpn_network }}.1/24
SaveConfig = true
ListenPort = {{ vpn_port }}
PrivateKey = {{ private_key_files.results[0].stdout }}

{% for i in range(vpn_clients) %}
[Peer]
PublicKey = {{ public_key_files.results[i + 1].stdout }}
AllowedIPs = {{ vpn_network }}.{{ i + 2 }}/32

{% endfor %}
