domain-needed
bogus-priv
listen-address=127.0.0.1
listen-address={{ ansible_default_ipv4.address }}
{% if ansible_default_ipv6.address is defined %}
listen-address=::1
listen-address={{ ansible_default_ipv6.address }}
{% endif %}
{% if vpn_network is defined %}
listen-address={{ vpn_network }}.1
{% endif %}
cache-size=2048
